<ul class="nav navbar-nav">
  <li ng-repeat="link in nav" ng-class="navClass(link.url)"><a href="{{link.url}}">{{link.title}}</a></li>
</ul>

<ul class="nav navbar-nav navbar-right">
  <li><a ng-if="dataIsSet()" ng-click="clearData()">
    <span><i class="fa fa-trash"></i></span> Clear Data</a>
  </li>
  <li><a ng-if=" ! isAuthenticated()" ng-click="signIn()">
    <span><i class="fa fa-user"></i></span> Sign In</a>
  </li>
  <li><a ng-if="isAuthenticated()" ng-click="signOut()">
    <span><i class="fa fa-user"></i></span> Sign Out</a>
  </li>
</ul>
